.popup__input {
  margin: 10px 0 5px;
  width: 100%;
  padding: 0 0 7px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.5);
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}

.popup__input:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 500px) {
  .popup__input {
    font-size: 14px;
    line-height: 17px;
  }
}