.profile__vector-pen {
  width: 10px;
  height: 10px;
  background-color: #000;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .profile__vector-pen {
    width: 7.5px;
    height: 7.5px;
  }
}