.popup__container {
  display: flex;
  justify-content: space-between;
  margin-top: 195px;
  width: 430px;
  min-height: max-content;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

@media screen and (max-width: 530px) {
  .popup__container {
    width: calc(100% - (50px * 2));
  }
}

@media screen and (max-width: 500px) {
  .popup__container {
    width: calc(100% - (19px * 2));
    margin-top: 123px;
  }
}