.profile {
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }
}